* {
    margin: 0;
    padding: 0;
}
.container {
    position: relative;
       background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 10px 10px;
}
.container .pagination {
    position: relative;
    height: 60px;
    background-color: rgba(180, 180, 180, 0.91);

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    border-radius: 10px;
}
.container .pagination li {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
}
.container .pagination li span {
    position: relative;
    padding: 20px 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
.container .pagination li span:hover,
.container .pagination li.active span {
    background: rgba(255, 255, 255, 0.2);
}
.disabled{
display: none;
}
.bottomPag{
margin-top:10px ;
}