.usersWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.photo{

}
.users{
    display: flex;
}

.selectedPage{
    font-weight: bold;
}