.postsBlock{
    margin-top: 20px;
    position: relative;
    box-shadow: 2px 7px 8px 2px rgba(34, 60, 80, 0.2);
    padding: 10px;
    background-color: #e7f0f9;
    border-radius: 20px;
}
.posts{
    margin-top: 10px;
}
