.formSummaryError{
    border: orange 1px solid;
    background-color: cadetblue;
    padding: 5px;
    color: orange;
}



.tableStyle > tr > td:first-child {
    width: 220px;
    text-align: right;
}
