.nav {
    grid-area: n;
    background-color: yellowgreen;
    padding: 20px;

}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friendsBlock {

}
.headerFriends{
    font-size: 30px;
    color: white;

    margin: 40px 10px 10px;
}
.imagesFriends{
display: flex;
}

.imgFriends{
    width: 50px;
    margin: 5px;
}
.ImgAndName{

}