.nav {
    grid-area: n;
    background-color: #fdfdfe;
    padding: 20px;

}

.items a {
    color: #8692a2;
    text-decoration: none;
}
.itemIcons{
    width: 45px;
    height: 45px;
}
.item{
    display: flex;
    padding: 5px;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
}
.itemText{
    margin: 20px;
    text-align: center;
}


.items a.active {
    color: gold;
}

.friendsBlock {

}
.headerFriends{
    font-size: 30px;
    color: #8692a2;

    margin: 40px 10px 10px;
}
.imagesFriends{
display: flex;
}

.imgFriends{
    width: 50px;
    margin: 5px;
}
.ImgAndName{

}