.wrapper {
    position: relative;
    height: 550px
}

.imgBackgrounds {
    width: 900px;
    height: 350px;
    border-radius: 30px;
}

.imgMain {
    position: absolute;
    left: 39%;
    top: 242px;
    border-radius: 50%
}
