.dialogs {
    /*display: grid;*/
    grid-template-columns: 2fr 10fr;
    margin: 0px 0px;
    position: relative;
    box-shadow: 2px 7px 8px 2px rgba(34, 60, 80, 0.2);
    padding: 3px 10px 10px;
    background-color: #e7f0f9;
    border-radius: 20px;

}

.dialogsWrapper {
    display: flex;
    min-width: 1000px;
    justify-content: flex-start;

}

.cross{
    background: rgba(133, 146, 161, 0.19);
    margin-top: 20px;
    margin-left: 20px;
    width: 2px;
    height: 480px;
    border-radius: 7px;
}
.dialogsItems {
    padding: 10px;

}

.dialogsItemsImg {
    display: flex;
    flex-direction: row-reverse;

    align-items: center;
    margin: 10px;
    justify-content: flex-end;

}

.dialog {
    text-decoration: none;
    padding: 10px;
    color: #8692a2;
}

.dialogsItems .active {
    color: gold;

}

.messages {
    padding: 10px;
    width: 770px;
    height: 500px;
    overflow-y: scroll;
    /*overflow: hidden;*/
}
.messages::-webkit-scrollbar {
    width: 0;
}
.message {

}

.addForm {
    margin: 10px;
    padding: 10px;
}
.bottomRef{
    /*background-color: red;*/
    padding-bottom:160px    ;
}
.preloader{
    padding-left: 40px;
}