.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsWrapper {
    display: flex;
    min-width: 1000px;
    justify-content: space-around;
    align-items: center;
}


.dialogsItems {
    padding: 10px;


}

.dialogsItemsImg {
    display: flex;
    flex-direction: row-reverse;

    align-items: center;
    margin: 10px;
    justify-content: flex-end;

}

.dialog {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.dialogsItems .active {
    color: gold;

}

.messages {
    padding: 10px;
}

.message {
    color: white;
}

.addForm {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;

}